Hello world!
First we import stuff...

In [2]:
import numpy as np
import pandas as pd

Next we make some lists and dictionaries...

In [3]:
list1=['Billy','Bob','BillyBob']
list2=['Foo','Bar','Baz']
list3=[True,False]

customers_dict={1:{"name":"Tom Smith","age":22,"job":"baker"},2:{"name":"Peter Clark","age":67},3:{"name":"John Brown","age":100}}

Now we can try to make some dataframes, I'm expecting the each one to fail somehow as we missed some fields, but I'm not sure what will happen (maybe it will leave a null field, or return an error message?).

In [6]:
list_df = pd.DataFrame([list1,list2,list3])
customers_df = pd.DataFrame(customers_dict)

list_df

       0      1         2
0  Billy    Bob  BillyBob
1    Foo    Bar       Baz
2   True  False      None

In [5]:
customers_df

              1            2           3
name  Tom Smith  Peter Clark  John Brown
age          22           67         100
job       baker          NaN         NaN

It left null fields, but for the "job" string in the customers dataframe it left 'NaN', however for the boolean in the list dataframe it left 'None'.